<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>ubc-server</title>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/request_ubc.js"></script>
    <script src="/static/js/jquery.knob.js"></script>
    <script src="/static/js/cookie_helpers.js"></script>
   
  </head>
  <body>
    <div>ubc-server: <a href="/start_assay">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
