{% extends "base.html" %}
{% block content %}

<div id="StartAssayDiv" style="visibility:visible;">
<button type="button" id="StartAssayButton" onclick="request_ubc_assay()">Start assay!</button>
</div>

<div id="RunningAssayDiv" style="visibility:hidden;">
<div id="RunnindAssayProgressDiv"></div>
<button type="button" id="CancelAssayButton" onclick="cancel_ubc_assay()">Cancel assay!</button>
</div>

<div id="FailedAssayDiv" style="visibility:hidden;">
<p>Failed assay!</p>
</div>

{% endblock %}
