{% extends "base.html" %}
{% block content %}


<div class="row">

<!--Top GUI elements-->
<div id="result-top" class= "col-md-12 result-gui">

</div>

<!--Center GUI elements-->
<div id="result-center" class= "col-md-12 result-gui">
   <p>Neutrophiles: 45% 11.2x10e9</p>
   <p>Lymphocites: 30% 7.2x10e9</p>
   <p>Monocytes: 6% 0.4x10e9</p>
   <p>Eosinophiles: 4% 0.3x10e9</p>
   <p>Basophils: 0% 0.0x10e9</p>
   <p>WBC: 13.1x10e9</p>
   
</div>

<!--Bottom GUI elements-->
<div id="result-bottom" class= "col-md-12 result-gui">
<button type="button" id="DoneButton" class="btn btn-lg center-block" onclick="done_assay()">  home  </button>

</div>

</div>

{% endblock %}
